:root {
  --black-color: #000000;
  --black-2-color: rgba(19, 19, 19, 0.94);
  --white-color: #ffffff;
  --red-color: #ff3950;
  --red-light-color: #ff5569;
  --red-dark-color: #e02036;
  --gray-color: #727272;
  --gray-2-color: #6a6a6a;
  --gray-light-color: #c9c9c9;
  --gray-ultralight-color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  background: var(--white-color);
  color: var(--black-color);
}

hr {
  width: 100%;
  height: 0px;
  border: 1.5px solid var(--gray-color);
}

a {
  text-decoration: none;
  font-family: "Gilroy", sans-serif;
  color: var(--white-color);
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 80px 23px;
  background-color: rgba(19, 19, 19, 0.5);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  color: var(--white-color);
  color: var(--white-color);
}
header h2 {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.1px;
}
.header-phone {
  display: flex;
  align-items: center;
}
.header-phone a {
  font-size: 20px;
  margin-left: 12px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
}
.header-phone img {
  width: 32px;
  height: 32px;
}

/* CAR IMAGE SECTION */
main {
  position: relative;
}
.car-image-section {
  width: 100%;
  min-height: 783px;
  background: radial-gradient(
      41.67% 85.38% at 67.15% 64.81%,
      rgba(0, 0, 0, 0) 3.2%,
      rgba(0, 0, 0, 0.4) 90.23%
    ),
    url("../img/image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  scale: crop;
}
.car-image-section .text {
  font-weight: 500;
  font-size: 20px;
  max-width: 617px;
  letter-spacing: 0%;
  margin-top: 100px;
}
.car-image-section .text h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
}
.car-image-section .text h1 span {
  display: block;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--red-color);
  margin: 14px 0;
}
.car-image-section .text p {
  margin-bottom: 138px;
}
.car-image-section .rating {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.car-image-section .rating p:first-of-type {
  margin-bottom: 30px;
}
.car-image-section .rating .number {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 8px 40px;
  background: var(--red-color);
  border-radius: 16px;
  margin: 16px 16px 0 0;
}

/* FORM SECTION*/
.form-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  width: 90%;
  max-width: 1280px;
  margin: -100px 80px 40px 80px;
  min-height: 632px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
  background: var(--black-2-color);
  color: var(--white-color);
  border: 2px solid var(--gray-color);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 32px;
}
.form-container h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}
.form-step-indicator {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 40px;
}
.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--gray-color);
}
.dot.active {
  background: var(--red-color);
}
.form-container hr {
  margin-bottom: 48px;
}
.car-form {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.form-step {
  width: 100%;
  display: none;
  flex: 1;
  flex-direction: column;
}
.form-step.active {
  display: flex;
}
.form-content {
  height: 316px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.form-row {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 48px;
}
.form-step .form-row:first-of-type {
  margin-bottom: 40px;
}
.form-row select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-row select,
.form-row input {
  height: 60px;
  flex: 1 1 45%;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 18px 16px;
  color: var(--gray-light-color);
  background-color: rgba(19, 19, 19, 0);
  border: 3px solid var(--gray-light-color);
  border-radius: 16px;
  background-image: url("../img/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  cursor: pointer;
  transition: all ease 0.3s;
}
.form-row select {
  padding: 15px 16px 21px;
}
.form-row select:hover,
.form-row input:hover {
  background-color: rgba(255, 255, 255, 0.04);
}
.form-row select:not(:focus):valid {
  border-color: var(--white-color);
  color: var(--white-color);
}
.form-row select:focus {
  transform: scale(1.02);
  outline: none;
}
.form-row input:focus {
  transform: scale(1.02);
  background-image: none;
  outline: none;
}
.form-row input:not(:placeholder-shown) {
  color: var(--white-color);
  border-color: var(--white-color);
}
.form-row input::placeholder {
  color: var(--gray-light-color);
}
.form-row select option {
  background-color: var(--white-color);
  color: var(--black-2-color);
  padding: 12px 16px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.form-container button {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 18px 435px 18px 453px;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  border-radius: 16px;
  border: none;
  background-color: var(--red-color);
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
.form-container button:hover {
  padding: 18px 415px 18px 453px;
  background-color: var(--red-dark-color);
  gap: 36px;
}
.form-container button.request-btn {
  margin-top: 40px;
  padding: 18px 406px;
}
.form-container button.request-btn:hover {
  padding: 18px 386px 18px 406px;
}
.form-container button span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container.up {
  position: absolute;
  left: auto;
  top: 225px;
}
.form-step.step-3 {
  display: none;
  flex: 1;
  width: 100%;
}
.form-step.step-3.active {
  display: flex;
}
.form-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.form-summary-columns {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.summary-left,
.summary-right {
  flex: 1;
  margin-left: 3px;
}
.summary-left h3,
.summary-right h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0 0 60px -4px;
}
.summary-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 220px;
}
.summary-right div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary-list {
  list-style: none;
}
.summary-list li {
  display: flex;
  align-items: center;
  gap: 36px;
  margin-bottom: 17px;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--white-color);
}
.summary-list li:first-of-type {
  align-items: flex-start;
}
.summary-list li.li-speedometer span img {
  width: 32px;
  padding-top: 6px;
}
.summary-list li.li-fuel span img {
  width: 37px;
  padding-top: 3px;
  margin-left: -4px;
}
.summary-list li span img {
  width: 30px;
}
.summary-price {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 18px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: -160px;
  margin-left: -2px;
}
.summary-price span {
  display: flex;
  align-items: center;
  justify-items: center;
}
.summary-price img {
  width: 36px;
}
.vertical-hr {
  border: none;
  border-left: 2px solid var(--gray-2-color);
  height: 405px;
  width: 0;
  margin: -3px 20px 0;
  position: relative;
  left: 110px;
}
.thank-you-message {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 50px;
}

/* QUESTION 1 SECTION */
.question-1-section {
  margin: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-1-section h2 {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--red-color);
  margin-bottom: 30px;
}
.question-1-section p {
  width: 50%;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}
.question-1-section hr {
  margin-bottom: 56px;
}

/* ADVANTAGES SECTION */
.advantages-section {
  margin: 0 80px 60px;
}
.advantages-section h2 {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 28px;
}
.advantages-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 24px;
  padding: 24px 25px;
  background-color: var(--black-2-color);
}
.advantages-block .icon img {
  height: 48px;
  width: 48px;
}
.advantages-block hr {
  margin: 20px 0 24px;
}
.advantages-block h3 {
  color: var(--white-color);
  font-weight: 500;
  font-size: 32px;
  line-height: 36.5px;
  letter-spacing: 0%;
}
.advantages-block h3:last-of-type {
  margin-bottom: 47px;
}
.advantages-block p {
  color: var(--gray-light-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
  margin-top: auto;
}
.advantages-block .special-width {
  max-width: 430px;
}
.advantages-section-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 17px;
  width: 100%;
}
.advantages-section-grid .advantages-block:nth-child(1),
.advantages-section-grid .advantages-block:nth-child(2),
.advantages-section-grid .advantages-block:nth-child(3) {
  grid-column: span 2;
}
.advantages-section-grid .advantages-block:nth-child(4),
.advantages-section-grid .advantages-block:nth-child(5) {
  grid-column: span 3;
}

/* WORK SECTION */
.work-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 40px 56px;
}
.work-section h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--red-color);
  margin-bottom: 32px;
}
.work-blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 13px;
}
.work-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 60px;
  padding: 24px;
}
.work-block.first {
  gap: 67px;
  background-color: var(--gray-ultralight-color);
  border-radius: 24px;
}
.work-block-number {
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--gray-2-color);
}
.work-block:nth-of-type(2) .work-block-number {
  margin-top: 3px;
}
.work-block:nth-of-type(3) .work-block-number {
  margin-top: 6px;
}
.work-block:nth-of-type(4) .work-block-number {
  margin-top: 9px;
}
.work-block:nth-of-type(5) .work-block-number {
  margin-top: 13px;
}
.work-block:nth-of-type(4) {
  gap: 57px;
}
.work-block.first .work-block-number {
  margin-top: 11px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0%;
  color: var(--red-color);
}
.work-block-text {
  color: var(--black-2-color);
}
.work-block-text h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 30px;
  letter-spacing: 0%;
  margin-bottom: 22px;
}
.work-block-text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* FOOTER */
footer {
  background: var(--black-2-color);
  color: var(--white-color);
  padding: 60px 80px;
}
.footer-top p {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0%;
}
.footer-top p:last-of-type {
  margin-bottom: 48px;
}
footer hr {
  margin-bottom: 56px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 15px;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.1px;
}
.logo img {
  width: 92px;
  height: 92px;
}
.footer-bottom .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 22px;
  margin-top: -12px;
}
.footer-bottom .contact a {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.footer-bottom .contact div {
  display: flex;
  align-items: center;
  gap: 13px;
}
.footer-bottom .contact img {
  height: 32px;
  width: 32px;
}

@media (max-width: 1439px) {
  .form-container button {
    padding: 18px 0;
  }
  .form-container button:hover {
    padding: 18px 0;
  }
  .form-container button.request-btn {
    padding: 18px 0;
  }
  .form-container button.request-btn:hover {
    padding: 18px 0;
  }
}
@media (max-width: 980px) {
  .form-container {
    padding: 22px;
    margin: -100px 40px 40px 40px;
  }
  .form-row {
    gap: 24px;
  }
  .question-1-section p {
    width: 80%;
  }
  .advantages-block h3 {
    display: inline;
    font-size: 24px;
  }
  .advantages-block h3:last-of-type {
    margin-bottom: 43px;
  }
  .advantages-block p {
    font-size: 14px;
  }
}
@media (max-width: 756px) {
  header {
    height: 70px;
    padding: 0 24px;
  }
  header h2 {
    font-size: 20px;
  }
  .header-phone a {
    font-size: 16px;
  }
  .header-phone img {
    width: 28px;
    height: 28px;
  }
  .form-step-indicator {
    gap: 8px;
    margin-bottom: 16px;
  }
  .dot {
    width: 12px;
    height: 12px;
  }
  .form-container hr {
    margin-bottom: 22px;
  }
  .form-container h2 {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
  }
  .form-container {
    margin: -79px 16px 32px 16px;
  }
  .form-content {
    height: 431px;
  }
  .form-row {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }
  .form-row select,
  .form-row input {
    height: 48px;
    font-size: 13px;
    padding: 10px 14px;
    flex: 1 1 100%;
    width: 100%;
    background-size: 16px;
    background-position: right 18px center;
    border: 2px solid var(--gray-light-color);
  }
  .form-row input {
    padding: 14px;
    border-radius: 14px;
    margin-bottom: 3px;
  }
  .form-step .form-row:first-of-type {
    margin-bottom: 24px;
  }
  .form-step .form-row:last-of-type {
    gap: 22px;
  }
  .form-container button {
    height: 50px;
    padding: 16.5px 24.5px 16.5px 46.5px;
    font-weight: 600;
    font-size: 14px;
  }
  .form-container button:hover {
    padding: 16.5px 4.5px 16.5px 46.5px;
    background-color: var(--red-dark-color);
    gap: 26px;
  }
  .form-container button.request-btn {
    margin-top: 40px;
    padding: 16.5px 7px;
  }
  .form-container button.request-btn:hover {
    padding: 16.5px 1px 16.5px 7px;
    gap: 22px;
  }
  .form-summary-columns {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .summary-left h3,
  .summary-right h3 {
    font-size: 28px;
    margin-bottom: 36px;
  }
  .summary-right {
    padding: 1px 0 0 0;
  }
  .summary-list li {
    font-size: 20px;
  }
  .summary-list li span img {
    width: 30px;
    height: 30px;
  }
  .vertical-hr {
    width: 100%;
    height: 1.5px;
    background-color: var(--gray-2-color);
    border: none;
    margin: 0;
    left: 0;
    margin-bottom: 0px;
  }
  .summary-price {
    gap: 18px;
    font-size: 32px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .thank-you-message {
    font-size: 28px;
  }
  .advantages-section {
    margin: 0 31px 32px 18px;
  }
  .advantages-section h2 {
    font-size: 20px;
    margin-left: 13px;
    margin-bottom: 16px;
    font-weight: 600;
  }
  .advantages-block {
    border-radius: 16px;
    padding: 16px 15px;
  }
  .advantages-block .icon img {
    height: 24px;
    width: 24px;
  }
  .advantages-block hr {
    margin: 12px 0 7px;
  }
  .advantages-block h3 {
    display: inline;
    font-size: 20px;
    line-height: 24px;
  }
  .advantages-block h3:last-of-type {
    margin-bottom: 36px;
  }
  .advantages-block p {
    font-size: 14px;
    line-height: 16px;
  }
  .advantages-section-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .advantages-section-grid .advantages-block:nth-child(1),
  .advantages-section-grid .advantages-block:nth-child(2),
  .advantages-section-grid .advantages-block:nth-child(3),
  .advantages-section-grid .advantages-block:nth-child(4),
  .advantages-section-grid .advantages-block:nth-child(5) {
    grid-column: span 1;
  }

  footer {
    padding: 39px 16px;
  }
  .footer-top p {
    font-size: 24px;
  }
  .footer-top p:last-of-type {
    margin-bottom: 32px;
  }
  footer hr {
    margin-bottom: 32px;
  }
  .logo {
    font-size: 30px;
  }
  .logo img {
    width: 70px;
    height: 70px;
  }
  .footer-bottom .contact {
    gap: 24px;
    font-size: 18px;
  }
  .footer-bottom .contact img {
    height: 28px;
    width: 28px;
  }
}
@media (max-width: 560px) {
  header {
    height: 50px;
    padding: 0 16px;
  }
  header h2 {
    font-size: 16px;
    letter-spacing: -0.2px;
    margin-top: 2px;
  }
  .header-phone a {
    font-size: 14px;
    margin-left: 8px;
  }
  .header-phone img {
    width: 24px;
    height: 24px;
  }
  .car-image-section {
    background-position: 40% center;
    min-height: 568px;
    padding: 50px 0px;
    align-items: center;
    text-align: center;
  }
  .car-image-section.background-change {
    min-height: 750px;
  }
  .car-image-section .text h1 {
    margin: 11px 5px 0 0;
    font-size: 24px;
    font-weight: 500;
  }
  .car-image-section .text h1 span {
    font-size: 24px;
    margin: 4px 0 18px 5px;
  }
  .car-image-section .text p {
    font-size: 14px;
    line-height: 16.5px;
    margin: 0 52px 77px 50px;
  }
  .car-image-section .rating {
    align-items: center;
    font-size: 14px;
  }
  .car-image-section .rating .number {
    display: block;
    font-size: 15px;
    padding: 9px 24px;
    margin: 8px 0;
    border-radius: 8px;
  }
  .car-image-section .rating p:first-of-type {
    margin-bottom: 2px;
  }

  .form-container.up {
    position: absolute;
    left: auto;
    top: 162px;
    padding: 24px 22px;
  }
  .summary-right div {
    align-items: start;
  }
  .summary-left h3,
  .summary-right h3 {
    font-size: 20px;
    margin-bottom: 24px;
    text-align: center;
  }
  .summary-right h3 {
    line-height: 24px;
    margin-bottom: 24px;
  }
  .summary-list {
    margin-bottom: 18px;
  }
  .summary-list li {
    gap: 35px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  .summary-list li:nth-of-type(4) {
    margin-top: -6px;
  }
  .summary-list li:nth-of-type(5) {
    margin-top: -6px;
  }
  .summary-list li span img {
    width: 18px;
  }
  .summary-list li span.to-down {
    margin-top: 3px;
  }
  .summary-list li span.to-up {
    margin-bottom: 6px;
  }
  .summary-list li.li-speedometer span img {
    width: 18px;
    padding-top: 0px;
  }
  .summary-list li.li-fuel {
    margin-top: -6px;
    gap: 33px;
  }
  .summary-list li.li-fuel span img {
    width: 22px;
    padding-top: 3px;
    margin-left: -2px;
  }
  .summary-price {
    padding-right: 2px;
    gap: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }
  .summary-price img {
    width: 22px;
  }
  .form-summary-columns {
    height: 507px;
  }
  .thank-you-message {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .question-1-section {
    margin: 2px 16px 0;
  }
  .question-1-section h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 16px -3px;
  }
  .question-1-section p {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 32px;
  }
  .question-1-section hr {
    margin-bottom: 40px;
  }
  .question-1-section.question-2-section h2 {
    margin-left: 2px;
  }
  .question-1-section.question-2-section p {
    padding: 0 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
  .work-section {
    margin: 0 16px 15px;
  }
  .work-section h2 {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .work-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }
  .work-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding: 7px 32px 24px;
  }
  .work-block:nth-of-type(2) {
    margin-top: 4px;
  }
  .work-block:nth-of-type(4) {
    margin-top: -2px;
    gap: 18px;
  }
  .work-block:nth-of-type(5) {
    margin-top: -6px;
  }
  .work-block-number {
    font-size: 24px;
  }
  .work-block.first {
    gap: 9px;
  }
  .work-block.first .work-block-number {
    font-weight: 600;
  }
  .work-block-text {
    text-align: center;
  }
  .work-block-text h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 9px;
  }
  .work-block-text p {
    font-size: 14px;
    line-height: 16px;
  }

  .footer-top p {
    display: inline;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  footer hr {
    margin: 32px 0 24px;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo {
    order: 2;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.3px;
    margin-top: 30px;
  }
  .logo img {
    width: 56px;
    height: 56px;
  }
  .footer-bottom .contact {
    order: 1;
    gap: 13px;
    align-items: center;
  }
  .footer-bottom .contact div {
    gap: 8px;
  }
  .footer-bottom .contact a {
    font-size: 14px;
  }
  .footer-bottom .contact img {
    height: 24px;
    width: 24px;
  }
}
